build/
.dart_tool/
.packages
.pub/
.pub-cache/
.flutter-plugins
.flutter-plugins-dependencies
**/doc/api/

android/.gradle/
/android/app/debug
/android/app/profile
/android/app/release
local.properties

**/ios/Flutter/.last_build_id

app.*.symbols
app.*.map.json

firebase.json
lib/firebase_options.dart
android/app/google-services.json
ios/Runner/GoogleService-Info.plist
serviceAccount*.json
*-credentials.json
.env
.env.*

*.keystore
*.jks
*.p8
*.pem
*.key
*.crt
*.der
*.p12
*.lock.json

.idea/
*.iml
*.ipr
*.iws
.vscode/

*.log
.DS_Store
Thumbs.db
.atom/
.build/
.history
.svn/
.swiftpm/
migrate_working_dir/

*.class
*.pyc
*.swp

coverage/
reports/
